
body{
    min-height: 100vh;
    height: auto;
    background-color: black;
}

main {
    height: 100vh;
}

.bg-dark{
    background-color: black !important;
}
.film{
    transition: 0.5s;
}
.film:hover{
    transform: scale(1.1);
}
.carousel-control-prev, .carousel-control-next{
    width: 50px !important;
}
footer.text-light {
    color: white;
  }
  
  section{
    min-height: 30vh;
  }